@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "StarJedi";
  src: local("StarJedi"), url(./fonts/Starjedi.ttf) format("truetype");
}
@font-face {
  font-family: "Orbitron";
  src: local("StarJedi"), url(./fonts/Orbitron.ttf) format("truetype");
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 13px;
}
h1,
h2,
h3 {
   font-family: "StarJedi";
}
h4,
h5,
h6 {
   font-family: "Orbitron", sans-serif;
   font-weight: 700;
}








 